.small-menubar{
    width: var(--percentWidth);
    height: 50px;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    display: none;
}

.small-menubar > div {
    color:white;
    text-align: center;
}

@media (max-width:1000px) {
    .small-menubar{
        display: flex;
    }
}